<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/kill-tracker.css') }}">
    <title>Kill Tracker</title>

</head>
<body>
    <div id="status"> {{ status }}</div>
    <div class="kill-image" >
        <img id="kill-Image" alt="Kill Tracker Image" src=""/>
    </div>

    <div class="button-container">
        <button id="cancelButton" class="cancel-button">
            <i class="fas fa-times-circle"></i> Cancel Operation
        </button>
    </div>
        <div class="button-container">
        <button id="submitButton" class="submit-button">
            <i class="fas fa-check-circle "></i> Run Kill Tracker
        </button>
    </div>
     <script src="https://cdn.socket.io/4.0.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/kill-tracker.js') }}"></script>
</body>
</html>
