body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}


.container {
    width: 80%;
    margin: auto auto;
    overflow: hidden;
    padding: 0 18px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 18px;
}

h1 {
    text-align: center;
    color: #333;
}
