body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    width: 80%;
    margin: auto auto;
    overflow: hidden;
    padding: 0 18px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 18px;
}

#status {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 20px !important;
    width: 100% !important;
    height: auto !important;
    position: relative !important;
}

.button-container {
    display: flex;
    justify-content: center;
}

.submit-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin: 5px;
}

.submit-button i {
    margin-right: 10px;
}

.submit-button:hover {
    background-color: #218838;
}